* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Basier circle', -apple-system, system-ui, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.main-container {
  max-width: 1500px;
  display: flex;
  padding: 0 2rem;
  margin: 0 auto;
}

.container,
.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 2rem 0;
  margin-left: 2rem;
}

.btn {
  text-align: center;
  margin: 3rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0;
  letter-spacing: 1px;
}

p,
li {
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.4;
}

.title {
  text-align: left;
}

.title h2 {
  margin-bottom: 1rem;
}

.title p {
  font-size: 1.4rem;
  font-weight: 200;
}

.mobile-form {
  display: block;
  max-width: 400px;
}

section {
  margin: 2rem 0;
  padding: 2rem 0;
}

input,
select,
textarea {
  width: 100%;
  height: 50px;
  padding: 1rem;
  border: none;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

textarea {
  height: 100px;
}

@media (min-width: 900px) {
  .mobile-form {
    display: none;
  }
}

@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    margin: 3rem 0;
  }
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p,
  li {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  section {
    margin: 2rem 0;
    padding: 2rem 0;
  }
}
